<!DOCTYPE html>
<html lang="en"> 
<head>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'calculator/calculator.css' %}" />
<meta charset="utf-8"/>
<title> Calculator </title>
</head>
<body>
{% if currDigit %}
	<input class ="calcDisplay" type="text" name="calcDisplay" id="calcDisplay" value="{{currDigit}}" readonly><br>
{% else %}
	<input class ="calcDisplay" type="text" name="calcDisplay" id="calcDisplay" value="{{lastDigit}}" readonly><br>
{% endif %}
<form action="/calculate" method="POST">
	<table>
		<tr>
			<td><input class="digit" type="submit" name="digit" value="7" ></td>
			<td><input class="digit" type="submit" name="digit" value="8" ></td>
			<td><input class="digit" type="submit" name="digit" value="9" ></td>
			<td><input class="operator" type="submit" name="operator" value="+" ></td>
		</tr>
		<tr>
			<td><input class="digit" type="submit" name="digit" value="4" ></td>
			<td><input class="digit" type="submit" name="digit" value="5" ></td>
			<td><input class="digit" type="submit" name="digit" value ="6" ></td>
			<td><input class="operator" type="submit" name="operator" value="-" ></td>
		</tr>
		<tr>
			<td><input class="digit" type="submit" name="digit" value="1" ></td>
			<td><input class="digit" type="submit" name="digit" value="2" ></td>
			<td><input class="digit" type="submit" name="digit" value="3" ></td>
			<td><input class="operator" type="submit" name="operator" value="*" ></td>
		</tr>
		<tr>
			<td></td>
			<td><input class="digit" type="submit" name="digit" value="0" ></td>
			<td><input class="operator" type="submit" name="operator" value="=" ></td>
			<td><input class="operator" type="submit" name="operator" value="/" ></td>
		</tr>
	</table>
	{% csrf_token %}
</form>
</body>
</html>
			