{% extends "socialnetwork/base.html" %}

{% block posts %}	
	<p>
		{% for post in posts %} 
			<div class="section">
				<div class="row"> <div class="col s2"> {{post.text}} </div> </div>
				<div class="row">
					<div class ="col s3"> Created: {{post.creation_time.month}}/{{post.creation_time.day}} @ {{post.creation_time.hour}}:{{post.creation_time.minute}} </div>
					<div class="col s8"> Updated: {{post.update_time.month}}/{{post.update_time.day}} @
					{{post.update_time.hour}}:{{post.update_time.minute}}
					</div>
				</div>
				<div class="row"> <div class="col s8"> <a href="{% url 'profile' post.user %}">{{post.user}}</a></div></div>
			<div class="divider"></div>
			</div>
		{% endfor %}
	</p>
	
	<div class="row">
		<form class="col s12" action="{% url 'post' %}" method="post">
			<div class="row">
				<div class="col s6">
					<table>
						{{form}}
					</table>
					<button class="btn waves-effect waves-light" type="submit">Post
						<i class="mdi-content-send right"></i>
					</button>
					{% csrf_token %}
				</div>
			</div>
		</form>
	</div>
		
{% endblock %}
