{% extends "socialnetwork/base.html" %}

{% block content %}
	{% if form.errors %}
		<p style="color:red">
			Incorrect user name or password.
		</p>
	{% endif %}
{% endblock %}


{% block user-info %}
	<p>
		Log into the social network :
	</p>
	
	<div class="row">
		<form class="col s6" method="post" action="{% url 'login' %}">
			<table class="hoverable">
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>
			</table>
			<div class="row valign-wrapper">
				<button class="waves-effect waves-light btn" type="submit">Login</button>
				<a href ="{% url 'register' %}" class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>Register</a>
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
			{% csrf_token %}
		</form>
{% endblock %}