
<!DOCTYPE HTML>
<html>
<head>
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" />
    <meta charset="utf-8">
    <title>Register to the social network</title>
</head>

<body>

	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<div class="col s12">
					<ul class="right side-nav">
						<li><a href="/socialnetwork">Home</a></li>
						<li><a href="/socialnetwork/login">Login</a></li>
						<li><a href="/socialnetwork/logout">Logout</a></li>
						<li><a href="/socialnetwork/register">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
    {% for error in errors %}
        <p style="color: red">
            {{ error }}
        </p>
    {% endfor %}

    <p>
        Register to the social network:
    </p>

    <form class = "col s6" method="post" action="/socialnetwork/register">
        <div class ="row">
			<div class="input-field col s6">
				<input id="username" name="username" type="text" class="validate" value="{{username}}">
				<label for="username">Username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password1" type="password" name="password1" class="validate">
				<label for="password1">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password2" type="password" name="password2" class="validate">
				<label for="password2"> Confirm password:</label>
			</div>
		</div>

        <button class="waves-effect waves-light btn" type="submit"><i class="mdi-file-cloud left"></i>Register</button>
        {% csrf_token %}
    </form>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
	
</body>
</html>