<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	{%load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
		<title> {%block title %} The Social Network {%endblock %} </title>
</head>
	
<body>
		
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
				<div class="col s12">
					<ul class="right side-nav">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'myProfile' %}">Profile</a></li>
						{% if not user.is_authenticated %}
							<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
						<li><a href="{% url 'register' %}">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="user-info">
		{% block user-info %}
		{% endblock %}
	</div>
	
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	
	<div class="posts">
		{% block posts %}
		{% endblock %}
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/socialnetwork.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
</body>
</html>